@font-face {
  font-family: gunplay;
  src: url(fonts/gunplay.otf);
}

h1 {
    font-family: gunplay, arial, serif;
}

.flag {
    width: 20px;
    height: 30px;
    margin-left: 5px;
    border-radius: 20%;
}
body {
    text-align: center;
    justify-content: center;}
p, h5 {
    font-family: gunplay, arial, serif;
}